# Tarea 1: Explorando datos mundiales de COVID-19 

En esta actividad se pide que explore los datos del repositorio ["COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University"](https://github.com/CSSEGISandData/COVID-19)

Adjunto a este cuadernillo encontrará los datos al 26 de Abril de 2021 de dicho repositorio en el archivo `data.zip`. Luego de descomprimir debería observar cuatro archivos

- `covid19_confirmados.csv` : Número de casos diarios acumulado reportados como COVID-19 positivos (confirmados)
- `covid19_recuperados.csv` : Número de casos diarios acumulado reportados como recuperados 
- `covid19_decesos.csv` : Número de decesos diarios por COVID-19 acumulado 
- `population_by_country_2020.csv`:  Población por país más otros indicadores socioeconómicos al 2020 descargados desde: https://www.kaggle.com/tanuprabhu/population-by-country-2020

En los primeros tres archivos cada fila corresponde a un país o un estado/provincia de un país. Las columnas son las coordenadas geográficas (latitud y longitud) y el número de casos diarios para cada día desde Enero de 2020 a la fecha. Según quienes compilaron este repositorio, la información de casos recuperados debe analizarse con cautela pues podría estar considerablemente subestimada. 

A modo de ejemplo se muestra a continuación una gráfica de la series de tiempo del número de casos confirmados totales acumulados de Chile, Argentina y Bolivia 

![](https://i.imgur.com/7YVYk11.png)

A partir de esta información se puede calcular la serie de tiempo de los casos confirmados "nuevos" por día

![](https://i.imgur.com/baWnqxt.png)

En esta tarea se pide que procese, visualice, analice y discuta en base a estos datos. Escriba las rutinas de Python necesarias para resolver las actividades específicas que encontrará en este enunciado. **Use las librerías vistas en el curso**. Discuta con sus compañeros de grupo y complete con su análisis donde corresponda.

## Instrucciones generales 

1. Forme un grupo de **máximo tres estudiantes**
1. Versione su trabajo usando un **repositorio privado de github**. Agregue a sus compañeros y a su profesor (usuario github: phuijse) en la pestaña *Settings/Manage access*. No se aceptarán consultas de programación si no se cumple este requisito
1. Su tarea se evaluará en base al último commit antes de la fecha de entrega: **14:10 del Martes 11 de Mayo de 2021**. La nota se calcula como ("pt totales" + 1)
1. [Sean leales y honestos](https://www.acm.org/about-acm/code-of-ethics-in-spanish), no copie ni comparta resultados con otros grupos

## Enunciado

### Preparación de datos (1.5pt)

1. Explore el archivo `covid19_confirmados.csv` y configure la función `read_csv` de pandas para importarlo como un `DataFrame`. 
    1. Utilice el nombre de país como índice principal
    1. Elimine las columnas `Lat` y `Long`
    1. Use TimeStamps para los "nombres de columna" asociados a fechas
    1. Reduzca la columna `Province/State`, el DataFrame resultante debe tener los totales a nivel país
1. Explore el archivo `population_by_country_2020.csv` y configure la función `read_csv` de pandas para importarlo como un `DataFrame`. 
    1. Utilice el nombre de país como índice principal. Algunos siglas o nombres podrían no calzar con el `DataFrame` anterior, modifíquelos manualmente o usando pandas. 
1. Haga un `merge` de los `DataFrame` anteriores. El objetivo es asignar un valor de `Population` a cada elemento del primer `DataFrame`. Indique las filas donde no se puede realizar el `merge` y luego descártelas de su `DataFrame` final
1. Repita el procedimiento anterior para los archivos `covid19_recuperados.csv` y `covid19_muertes.csv`

----

In [1]:
import matplotlib.pyplot as plt
import numpy as np 
import pandas as pd
import ipywidgets as widgets
import datetime

#### 1. Explore el archivo `covid19_confirmados.csv` y configure la función `read_csv` de pandas para importarlo como un `DataFrame`. 
    A. Utilice el nombre de país como índice principal
    B. Elimine las columnas `Lat` y `Long`
    C. Use TimeStamps para los "nombres de columna" asociados a fechas
    D. Reduzca la columna `Province/State`, el DataFrame resultante debe tener los totales a nivel país

In [2]:
def formatData(path):
    #A. Utilizamos el nombre de país como índice principal
    df = pd.read_csv(path, index_col ='Country/Region')
    df.index.name = 'Pais'
    #B. Eliminamos las columnas Lat y Long
    df.drop(['Lat', 'Long'], axis = 1 ,inplace = True)
    #C. Usamos TimeStamps para los "nombres de columna" asociados a fechas
    lista_col = [df.columns[0]]
    #D. Reducimos la columna Province/State
    dict_dias_sum = {}                                            
    for i in range(1,df.shape[1],1):
        lista_col.append(pd.Timestamp(df.columns[i]).date()) #C. 
        dict_dias_sum[lista_col[i]] = np.sum # D.
    df.columns = lista_col #C.
    df = df.groupby('Pais').aggregate(dict_dias_sum) #D.
    return df

In [66]:
confirmados = formatData('data/covid19_confirmados.csv')
display(confirmados)

,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,...,2021-04-16,2021-04-17,2021-04-18,2021-04-19,2021-04-20,2021-04-21,2021-04-22,2021-04-23,2021-04-24,2021-04-25
Pais,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,57612,57721,57793,57898,58037,58214,58312,58542,58730,58843
Albania,0,0,0,0,0,0,0,0,0,0,...,129307,129456,129594,129694,129842,129980,130114,130270,130409,130537
Algeria,0,0,0,0,0,0,0,0,0,0,...,119323,119486,119642,119805,119992,120174,120363,120562,120736,120922
Andorra,0,0,0,0,0,0,0,0,0,0,...,12712,12771,12805,12805,12874,12917,12942,13007,13024,13060
Angola,0,0,0,0,0,0,0,0,0,0,...,24122,24300,24389,24518,24661,24883,25051,25279,25492,25609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,0,2,2,2,2,2,2,2,2,2,...,2772,2781,2785,2791,2800,2812,2824,2830,2833,2843
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,278135,279753,280741,282270,284280,286028,287680,289120,290259,290972
Yemen,0,0,0,0,0,0,0,0,0,0,...,5715,5770,5812,5858,5918,5960,6020,6056,6105,6137
Zambia,0,0,0,0,0,0,0,0,0,0,...,90750,90844,90918,90942,91042,91119,91189,91251,91317,91358
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,37534,37699,37751,37859,37875,37980,38018,38045,38064,38086

#### 2. Explore el archivo `population_by_country_2020.csv` y configure la función `read_csv` de pandas para importarlo como un `DataFrame`. 
    A. Utilice el nombre de país como índice principal. Algunos siglas o nombres podrían no calzar con el `DataFrame` anterior, modifíquelos manualmente o usando pandas.

In [4]:
population = pd.read_csv('data/population_by_country_2020.csv', index_col = 'Country (or dependency)')
population.index.name = 'Pais'
display(population.columns)
population.drop(['Yearly Change', 'Net Change','Density (P/Km²)','Land Area (Km²)',
                'Migrants (net)', 'Fert. Rate', 'Med. Age','Urban Pop %', 'World Share'], 
                 axis = 1 ,inplace = True)
display("Población: ", population)

Index(['Population (2020)', 'Yearly Change', 'Net Change', 'Density (P/Km²)',
       'Land Area (Km²)', 'Migrants (net)', 'Fert. Rate', 'Med. Age',
       'Urban Pop %', 'World Share'],
      dtype='object')

'Población: '

                  Population (2020)
Pais
China                    1440297825
India                    1382345085
US                        331341050
Indonesia                 274021604
Pakistan                  221612785
...                             ...
Montserrat                     4993
Falkland Islands               3497
Niue                           1628
Tokelau                        1360
Holy See                        801

[235 rows x 1 columns]

#### 3.  Haga un `merge` de los `DataFrame` anteriores. El objetivo es asignar un valor de `Population` a cada elemento del primer `DataFrame`. Indique las filas donde no se puede realizar el `merge` y luego descártelas de su `DataFrame` final

In [5]:
def mg(df, population):
    return pd.merge(df, population, how = 'inner', on= 'Pais')

In [6]:
confirmados = mg(confirmados, population)
display("Casos Confirmados: " ,confirmados)

'Casos Confirmados: '

,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,...,2021-04-17,2021-04-18,2021-04-19,2021-04-20,2021-04-21,2021-04-22,2021-04-23,2021-04-24,2021-04-25,Population (2020)
Pais,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,57721,57793,57898,58037,58214,58312,58542,58730,58843,39074280
Albania,0,0,0,0,0,0,0,0,0,0,...,129456,129594,129694,129842,129980,130114,130270,130409,130537,2877239
Algeria,0,0,0,0,0,0,0,0,0,0,...,119486,119642,119805,119992,120174,120363,120562,120736,120922,43984569
Andorra,0,0,0,0,0,0,0,0,0,0,...,12771,12805,12805,12874,12917,12942,13007,13024,13060,77287
Angola,0,0,0,0,0,0,0,0,0,0,...,24300,24389,24518,24661,24883,25051,25279,25492,25609,33032075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,0,0,0,0,0,0,0,0,0,0,...,181903,183190,184595,185736,186745,188063,189381,190523,191518,28421581
Vietnam,0,2,2,2,2,2,2,2,2,2,...,2781,2785,2791,2800,2812,2824,2830,2833,2843,97490013
Yemen,0,0,0,0,0,0,0,0,0,0,...,5770,5812,5858,5918,5960,6020,6056,6105,6137,29935468
Zambia,0,0,0,0,0,0,0,0,0,0,...,90844,90918,90942,91042,91119,91189,91251,91317,91358,18468257
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,37699,37751,37859,37875,37980,38018,38045,38064,38086,14899771

#### 4.Repita el procedimiento anterior para los archivos `covid19_recuperados.csv` y `covid19_muertes.csv`

In [7]:
recuperados = mg(formatData('data/covid19_recuperados.csv'),population)
decesos = mg(formatData('data/covid19_decesos.csv'),population)
display("Recuperados: ", recuperados)
display("Decesos: ",decesos)

'Recuperados: '

,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,...,2021-04-17,2021-04-18,2021-04-19,2021-04-20,2021-04-21,2021-04-22,2021-04-23,2021-04-24,2021-04-25,Population (2020)
Pais,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,52116,52168,52244,52272,52301,52348,52363,52392,52489,39074280
Albania,0,0,0,0,0,0,0,0,0,0,...,101142,101584,102171,102601,103066,103582,104278,105016,105728,2877239
Algeria,0,0,0,0,0,0,0,0,0,0,...,83286,83397,83514,83636,83765,83900,84038,84167,84299,43984569
Andorra,0,0,0,0,0,0,0,0,0,0,...,12159,12203,12203,12285,12334,12375,12423,12458,12491,77287
Angola,0,0,0,0,0,0,0,0,0,0,...,22576,22597,22600,22647,22882,22901,23089,23092,23092,33032075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,0,0,0,0,0,0,0,0,0,0,...,164530,165959,166826,168418,169685,171043,172035,173097,173097,28421581
Vietnam,0,0,0,0,0,0,0,0,0,0,...,2475,2475,2475,2490,2490,2490,2490,2490,2516,97490013
Yemen,0,0,0,0,0,0,0,0,0,0,...,2209,2219,2261,2281,2309,2393,2454,2486,2546,29935468
Zambia,0,0,0,0,0,0,0,0,0,0,...,88555,88718,88860,88900,88956,89117,89256,89403,89574,18468257
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,35005,35019,35031,35058,35065,35073,35094,35101,35123,14899771

'Decesos: '

,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,...,2021-04-17,2021-04-18,2021-04-19,2021-04-20,2021-04-21,2021-04-22,2021-04-23,2021-04-24,2021-04-25,Population (2020)
Pais,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,2539,2539,2546,2549,2557,2561,2565,2572,2582,39074280
Albania,0,0,0,0,0,0,0,0,0,0,...,2340,2342,2347,2353,2358,2364,2367,2372,2378,2877239
Algeria,0,0,0,0,0,0,0,0,0,0,...,3152,3155,3160,3165,3172,3181,3190,3198,3207,43984569
Andorra,0,0,0,0,0,0,0,0,0,0,...,123,123,123,123,123,123,123,124,124,77287
Angola,0,0,0,0,0,0,0,0,0,0,...,561,561,563,565,570,572,574,577,579,33032075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,0,0,0,0,0,0,0,0,0,0,...,1888,1905,1925,1944,1965,1987,2009,2028,2047,28421581
Vietnam,0,0,0,0,0,0,0,0,0,0,...,35,35,35,35,35,35,35,35,35,97490013
Yemen,0,0,0,0,0,0,0,0,0,0,...,1119,1126,1132,1138,1147,1157,1165,1175,1187,29935468
Zambia,0,0,0,0,0,0,0,0,0,0,...,1234,1235,1236,1236,1238,1240,1245,1245,1246,18468257
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,1552,1553,1553,1554,1555,1555,1556,1556,1557,14899771

---

### Análisis global (1.5pt)

1. Obtenga la cantidad total  a la fecha (26 de Abril) de los casos (a) confirmados, (b) cerrados (recuperados más decesos) y (c) activos (confirmados menos cerrados) por país. En base a estas cantidades calcule el porcentaje de 
    1. casos activos con respecto al total de confirmados
    1. decesos con respecto al total de casos cerrados
    1. recuperados con respecto al total de casos cerrados
1. Luego calcule las siguientes tasas en base a información a la fecha
    1. Tasa de incidencia: confirmados por 100.000 dividido población total
    1. Tasa de recuperación: recuperados por 100.000 dividido población total
    1. Tasa de mortalidad: decesos por 100.000 dividido población total
1. En base a lo anterior muestre los nombres y los valores de los 5 países con
    1. La mayor y menor tasa de incidencia, respectivamente
    1. La mayor y menor tasa de recuperación, respectivamente
    1. La mayor y menor tasa de mortalidad, respectivamente
1. Responda, analice y discuta: ¿En qué lugar/ranking se encuentra Chile con respecto a cada una de las métricas de los puntos anteriores? ¿A qué países de la [OCDE](https://es.wikipedia.org/wiki/Organizaci%C3%B3n_para_la_Cooperaci%C3%B3n_y_el_Desarrollo_Econ%C3%B3micos) se parece más? ¿A qué paises de latinoamérica se parece más?

#### 1. Obtenga la cantidad total  a la fecha (26 de Abril) de los casos (a) confirmados, (b) cerrados (recuperados más decesos) y (c) activos (confirmados menos cerrados) por país. En base a estas cantidades calcule el porcentaje de 
    A. casos activos con respecto al total de confirmados
    B. decesos con respecto al total de casos cerrados
    C. recuperados con respecto al total de casos cerrados

In [8]:
#(a)Confirmados
confirmados_totales = confirmados.iloc[:, 0:460].sum(axis =1)
display('Confirmados Totales' ,confirmados_totales)
#(b)Cerrados:recuperados más decesos
cerrados = recuperados.iloc[:, 0:460].sum(axis =1)+decesos.iloc[:, 0:460].sum(axis =1)
display('Recuperados Totales' ,cerrados)
#(c)Activos: confirmados menos cerrados
activos_totales = confirmados_totales - cerrados
display('Activos Totales', activos_totales)

'Confirmados Totales'

Pais
Afghanistan    14880160
Albania        15290074
Algeria        23443583
Andorra         1922686
Angola          3754670
                 ...
Venezuela      28763642
Vietnam          476360
Yemen            741085
Zambia         10350726
Zimbabwe        5175628
Length: 180, dtype: int64

'Recuperados Totales'

Pais
Afghanistan    12180605
Albania        10163097
Algeria        16725608
Andorra         1747046
Angola          2912780
                 ...
Venezuela      26412931
Vietnam          405154
Yemen            597904
Zambia          9708423
Zimbabwe        4550376
Length: 180, dtype: int64

'Activos Totales'

Pais
Afghanistan    2699555
Albania        5126977
Algeria        6717975
Andorra         175640
Angola          841890
                ...
Venezuela      2350711
Vietnam          71206
Yemen           143181
Zambia          642303
Zimbabwe        625252
Length: 180, dtype: int64

    A. casos activos con respecto al total de confirmados

In [9]:
display('Porcentaje Activos respecto a Confirmados Totales', (activos_totales/confirmados_totales)*100)

'Porcentaje Activos respecto a Confirmados Totales'

Pais
Afghanistan    18.141976
Albania        33.531407
Algeria        28.655923
Andorra         9.135137
Angola         22.422477
                 ...
Venezuela       8.172508
Vietnam        14.947939
Yemen          19.320456
Zambia          6.205391
Zimbabwe       12.080698
Length: 180, dtype: float64

    B. decesos con respecto al total de casos cerrados

In [10]:
decesos_totales = decesos.iloc[:, 0:460].sum(axis =1)
display('Porcentaje decesos respecto a cerrados totales', (decesos_totales/cerrados)*100)

'Porcentaje decesos respecto a cerrados totales'

Pais
Afghanistan     4.733000
Albania         2.889454
Algeria         4.308824
Andorra         1.591029
Angola          3.230213
                 ...
Venezuela       1.011440
Vietnam         2.204841
Yemen          32.498361
Zambia          1.680427
Zimbabwe        4.033842
Length: 180, dtype: float64

    C. recuperados con respecto al total de casos cerrados

In [11]:
recuperados_totales = recuperados.iloc[:, 0:460].sum(axis =1)
display('Porcentaje Recuperados con respecto a Casos Cerrados',(recuperados_totales/cerrados)*100)

'Porcentaje Recuperados con respecto a Casos Cerrados'

Pais
Afghanistan    95.267000
Albania        97.110546
Algeria        95.691176
Andorra        98.408971
Angola         96.769787
                 ...
Venezuela      98.988560
Vietnam        97.795159
Yemen          67.501639
Zambia         98.319573
Zimbabwe       95.966158
Length: 180, dtype: float64

---

#### 2. Luego calcule las siguientes tasas en base a información a la fecha
    A. Tasa de incidencia: confirmados por 100.000 dividido población total
    B. Tasa de recuperación: recuperados por 100.000 dividido población total
    C. Tasa de mortalidad: decesos por 100.000 dividido población total

In [12]:
poblacion_total = confirmados['Population (2020)'].sum()

In [13]:
#A.
tasa_incidencia = confirmados_totales*100000/poblacion_total
display("Tasa de Incidencia", tasa_incidencia)
#B.
tasa_recuperacion = recuperados_totales*100000/poblacion_total
display("Tasa de Recuperación", tasa_recuperacion)
#C.
tasa_mortalidad = decesos_totales*100000/poblacion_total
display("Tasa de Mortalidad", tasa_mortalidad)

'Tasa de Incidencia'

Pais
Afghanistan    196.966938
Albania        202.392922
Algeria        310.319967
Andorra         25.450370
Angola          49.700128
                  ...
Venezuela      380.740966
Vietnam          6.305522
Yemen            9.809655
Zambia         137.011350
Zimbabwe        68.509183
Length: 180, dtype: float64

'Tasa de Recuperación'

Pais
Afghanistan    153.602075
Albania        130.640610
Algeria        211.855400
Andorra         22.757511
Angola          37.310683
                  ...
Venezuela      346.088633
Vietnam          5.244731
Yemen            5.342340
Zambia         126.349755
Zimbabwe        57.803099
Length: 180, dtype: float64

'Tasa de Mortalidad'

Pais
Afghanistan    7.631169
Albania        3.887117
Algeria        9.539517
Andorra        0.367932
Angola         1.245445
                 ...
Venezuela      3.536247
Vietnam        0.118245
Yemen          2.572046
Zambia         2.159505
Zimbabwe       2.429696
Length: 180, dtype: float64

#### 3. En base a lo anterior muestre los nombres y los valores de los 5 países con
    A. La mayor y menor tasa de incidencia, respectivamente:

In [14]:
display("Mayor Tasa de incidencia",tasa_incidencia.sort_values(ascending=False)[:5])
display("Menor Tasa de incidencia",tasa_incidencia.sort_values()[:5])

'Mayor Tasa de incidencia'

Pais
US        65298.055489
India     32169.617205
Brazil    28188.758194
Russia    10132.519619
France     8724.664908
dtype: float64

'Menor Tasa de incidencia'

Pais
Micronesia          0.001258
Vanuatu             0.003574
Samoa               0.005017
Marshall Islands    0.008842
Solomon Islands     0.041537
dtype: float64

    B. La mayor y menor tasa de recuperación, respectivamente:

In [15]:
display("Mayor Tasa de Recuperación:",tasa_recuperacion.sort_values(ascending=False)[:5])
display("Menor Tasa de Recuperación:",tasa_recuperacion.sort_values()[:5])

'Mayor Tasa de Recuperación:'

Pais
India     29405.445363
Brazil    24488.506476
Russia     8451.785756
US         6578.357979
Turkey     5328.913893
dtype: float64

'Menor Tasa de Recuperación:'

Pais
Sweden              0.000000
Micronesia          0.001152
Vanuatu             0.001986
Samoa               0.003706
Marshall Islands    0.007889
dtype: float64

    C. La mayor y menor tasa de mortalidad, respectivamente.

In [16]:
display("Mayor Tasa de Mortalidad:",tasa_mortalidad.sort_values(ascending=False)[:5])
display("Menor Tasa de Mortalidad:",tasa_mortalidad.sort_values()[:5])

'Mayor Tasa de Mortalidad:'

Pais
US                1373.149404
Brazil             768.503053
India              470.624776
Mexico             470.474339
United Kingdom     325.369046
dtype: float64

'Menor Tasa de Mortalidad:'

Pais
Laos                0.0
Marshall Islands    0.0
Micronesia          0.0
Holy See            0.0
Samoa               0.0
dtype: float64

----

### 4. Responda, analice y discuta:

    ¿En qué lugar/ranking se encuentra Chile con respecto a cada una de las métricas de los puntos anteriores?

In [30]:
idx_chile = tasa_incidencia.sort_values(ascending=False).index.get_loc("Chile")
display("Ranking Tasa de incidencia:",tasa_incidencia.sort_values(ascending=False)[:idx_chile+2])
print("Lugar: ", idx_chile)

'Ranking Tasa de incidencia:'

Pais
US                65298.055489
India             32169.617205
Brazil            28188.758194
Russia            10132.519619
France             8724.664908
United Kingdom     8360.265933
Spain              6975.643805
Italy              6573.844613
Turkey             5925.903739
Colombia           5445.449002
Germany            5341.020200
Argentina          5213.574061
Mexico             5027.417791
Iran               4096.252797
Peru               3941.845404
South Africa       3855.247716
Poland             3763.347359
Ukraine            3131.799280
Indonesia          2732.994681
Chile              2516.614001
Czechia            2407.617508
dtype: float64

Lugar:  19

In [29]:
idx_chile = tasa_mortalidad.sort_values(ascending=False).index.get_loc("Chile")
display("Ranking Tasa de Mortalidad:", tasa_mortalidad.sort_values(ascending=False)[:idx_chile+2])
print("Lugar: ", idx_chile)

'Ranking Tasa de Mortalidad:'

Pais
US                1373.149404
Brazil             768.503053
India              470.624776
Mexico             470.474339
United Kingdom     325.369046
Italy              288.678047
France             252.600340
Spain              216.793234
Russia             192.352905
Iran               174.374967
Colombia           149.218589
Peru               145.467124
Germany            138.417438
Argentina          129.151487
South Africa       110.880551
Poland              86.790020
Indonesia           81.443722
Belgium             72.230838
Turkey              70.933121
Canada              64.216514
Chile               63.311654
Ukraine             60.438933
dtype: float64

Lugar:  20

In [32]:
idx_chile = tasa_recuperacion.sort_values(ascending=False).index.get_loc("Chile")
display("Ranking Tasa de Recuperación", tasa_recuperacion.sort_values(ascending=False)[:idx_chile+2])
print("Lugar: ", idx_chile)

'Ranking Tasa de Recuperación'

Pais
India           29405.445363
Brazil          24488.506476
Russia           8451.785756
US               6578.357979
Turkey           5328.913893
Colombia         4926.409479
Italy            4817.021625
Germany          4545.889887
Argentina        4506.407190
Mexico           3937.066611
Peru             3470.019076
South Africa     3418.586200
Iran             3352.220731
Poland           2943.613081
Chile            2335.279133
Indonesia        2284.383808
dtype: float64

Lugar:  14

----

     ¿A qué países de la OCDE se parece más?

**Nota:** se cambiaron los nombres de: 
* United States → USA
* South Korea → Korea, South
* Czech Republic (Czechia) → Czechia
                                   
en `population_by_country_2020.csv`

In [33]:
OCDE = ["Austria", "Australia", "Belgium", "Canada", "Chile", "Colombia", "Denmark", "Estonia", 
        "Finland", "France", "Germany", "Greece", "Hungary", "Iceland", "Ireland", "Israel", "Italy", 
        "Japan", "Latvia", "Lithuania", "Luxembourg", "Mexico", "Netherlands", "New Zealand", "Norway", 
        "Poland", "Portugal", "Slovenia", "Spain", "Sweden", 
        "Switzerland", "Turkey", "US","United Kingdom", "Slovakia", "Czechia"]
# Fuente: https://www.oecd.org/newsroom/global-oecd-welcomes-colombia-as-its-37th-member.htm

In [52]:
display("Tasa de Incidencia OCDE",tasa_incidencia[OCDE].sort_values(ascending=False))

'Tasa de Incidencia OCDE'

Pais
US                65298.055489
France             8724.664908
United Kingdom     8360.265933
Spain              6975.643805
Italy              6573.844613
Turkey             5925.903739
Colombia           5445.449002
Germany            5341.020200
Mexico             5027.417791
Poland             3763.347359
Chile              2516.614001
Czechia            2407.617508
Netherlands        2391.377361
Canada             1973.196481
Belgium            1909.596514
Israel             1651.120719
Portugal           1500.634063
Sweden             1422.767026
Switzerland        1230.207626
Austria            1012.379029
Hungary             952.570357
Japan               885.638203
Slovakia            564.763080
Ireland             455.104690
Denmark             446.501298
Greece              422.950540
Lithuania           363.878779
Slovenia            359.332505
Norway              175.685379
Latvia              145.677140
Finland             133.245788
Luxembourg          130.051436
Estonia             126.547726
Australia           111.586077
Iceland              19.943668
New Zealand           9.879692
dtype: float64

In [53]:
display("Tasa de Mortalidad OCDE",tasa_mortalidad[OCDE].sort_values(ascending=False))

'Tasa de Mortalidad OCDE'

Pais
US                1373.149404
Mexico             470.474339
United Kingdom     325.369046
Italy              288.678047
France             252.600340
Spain              216.793234
Colombia           149.218589
Germany            138.417438
Poland              86.790020
Belgium             72.230838
Turkey              70.933121
Canada              64.216514
Chile               63.311654
Netherlands         47.241350
Czechia             39.435984
Sweden              37.760340
Hungary             30.773529
Portugal            29.895342
Switzerland         24.146696
Austria             17.534118
Japan               15.876728
Greece              13.227313
Israel              12.673495
Ireland             12.090437
Slovakia            11.547486
Slovenia             7.215994
Denmark              5.694070
Lithuania            5.527259
Australia            3.143667
Latvia               2.612061
Finland              2.309399
Norway               1.884853
Luxembourg           1.566757
Estonia              1.242295
New Zealand          0.118152
Iceland              0.092777
dtype: float64

In [54]:
display("Tasa de Recuperación OCDE", tasa_recuperacion[OCDE].sort_values(ascending=False))

'Tasa de Recuperación OCDE'

Pais
US                6578.357979
Turkey            5328.913893
Colombia          4926.409479
Italy             4817.021625
Germany           4545.889887
Mexico            3937.066611
Poland            2943.613081
Chile             2335.279133
Czechia           2039.278429
Canada            1724.063688
Israel            1505.624275
Portugal          1235.948330
Austria            905.613970
Japan              776.881669
Switzerland        757.027708
France             751.279882
Spain              741.210585
Hungary            555.521948
Slovakia           411.531981
Denmark            397.947683
Slovenia           308.649102
Lithuania          302.196148
Greece             201.054448
Latvia             117.682099
Luxembourg         113.734344
Ireland            110.561569
Estonia             96.164579
Finland             92.442050
Australia           85.078253
Norway              60.920358
Belgium             50.271167
Netherlands         31.855843
United Kingdom      24.010237
Iceland             18.575159
New Zealand          9.200322
Sweden               0.000000
dtype: float64

**COMENTARIOS:**

-----

     ¿A qué paises de latinoamérica se parece más?

In [57]:
LATAM = ["Argentina", "Bolivia", "Brazil", "Chile", "Colombia", "Costa Rica", "Cuba", "Dominican Republic", 
         "Ecuador", "El Salvador", "Guatemala", "Honduras", "Mexico", "Nicaragua", "Panama", "Paraguay", 
         "Peru", "Haiti", "Uruguay", "Venezuela"]

# Fuente: https://en.wikipedia.org/wiki/Latin_Americans

In [58]:
display("Tasa de Incidencia LATAM", tasa_incidencia[LATAM].sort_values(ascending=False))

'Tasa de Incidencia LATAM'

Pais
Brazil                28188.758194
Colombia               5445.449002
Argentina              5213.574061
Mexico                 5027.417791
Peru                   3941.845404
Chile                  2516.614001
Ecuador                 808.617374
Panama                  805.867412
Bolivia                 664.716385
Dominican Republic      630.610431
Costa Rica              502.350421
Guatemala               485.502503
Honduras                444.189503
Venezuela               380.740966
Paraguay                367.607966
El Salvador             161.621389
Uruguay                 121.609270
Cuba                     92.772495
Haiti                    40.736693
Nicaragua                22.357956
dtype: float64

In [59]:
display('Tasa de Mortalidad LATAM', tasa_mortalidad[LATAM].sort_values(ascending=False))

'Tasa de Mortalidad LATAM'

Pais
Brazil                768.503053
Mexico                470.474339
Colombia              149.218589
Peru                  145.467124
Argentina             129.151487
Chile                  63.311654
Ecuador                51.347021
Bolivia                33.510665
Guatemala              17.230477
Panama                 14.489450
Honduras               11.684607
Dominican Republic      9.584774
Paraguay                7.500984
Costa Rica              6.500382
El Salvador             4.761135
Venezuela               3.536247
Uruguay                 1.331326
Haiti                   0.914351
Cuba                    0.838927
Nicaragua               0.637541
dtype: float64

In [60]:
display('Tasa de Recuperacion LATAM', tasa_recuperacion[LATAM].sort_values(ascending=False))

'Tasa de Recuperacion LATAM'

Pais
Brazil                24488.506476
Colombia               4926.409479
Argentina              4506.407190
Mexico                 3937.066611
Peru                   3470.019076
Chile                  2335.279133
Panama                  696.044011
Ecuador                 657.917631
Bolivia                 486.314335
Dominican Republic      483.352357
Guatemala               427.413938
Costa Rica              377.673199
Venezuela               346.088633
Paraguay                285.774431
Honduras                167.638810
El Salvador             138.544525
Uruguay                  98.299768
Cuba                     83.547129
Haiti                    30.637917
Nicaragua                15.106752
dtype: float64

**COMENTARIOS:**

----

### Análisis temporal y comparativo (2.0pt)

1. Construya una interfaz gráfica usando `ipywidgets` y `matplotlib` que permita realizar comparaciones entre las series de tiempo de COVID-19 de dos países seleccionados arbitrariamente. A modo de simplificación considere sólo los países de la [OCDE](https://es.wikipedia.org/wiki/Organizaci%C3%B3n_para_la_Cooperaci%C3%B3n_y_el_Desarrollo_Econ%C3%B3micos). Requerimientos:
    1. La interfaz debe incluir controles para escoger dos países a partir de una lista
    1. La interfaz debe incluir tres [tabs](https://ipywidgets.readthedocs.io/en/latest/examples/Widget%20List.html#Tabs), el primero debe mostrar las series de tiempo de ambos países de los casos confirmados, el segundo la de recuperados y el tercero la de los decesos, respectivamente. Use una leyenda para indicar el nombre de los países.
    1. La interfaz debe tener un control que permita escoger entre casos acumulados y casos nuevos  
    1. La interfaz debe tener un control que permita escoger entre valores absolutos y valores relativos (tasas por 100.000 habitantes)
    1. La interfaz debe tener un control que permita escoger entre valores diarios y valores semanales (acumulados). Para esto último se recomienda usar `groupby` con una [frecuencia lunes a lunes](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#anchored-offsets)
    
En base a su interfaz:   

1. Describa en detalle la situación de Chile con respecto a la evolución temporal de las series de tiempo. En particular destaque patrones y comportamientos que considere relevantes y compare lo que observa en las distintas series de tiempo. Considerando la evolución a nivel de semana, conteste ¿En qué fechas ocurre un aumento o disminución notoria de los casos? ¿En qué fechas hay máximos y mínimos?
1. Considerando métricas que sean relativas compare el caso de Chile contra cinco países de la OCDE seleccionados por ustedes. Destaque semejanzas y diferencias considerando las cantidades y los posibles desfases temporales existentes.

In [99]:
pais1_dropdown = widgets.Dropdown(options=list(OCDE),
                                description='País:',
                                disabled=False)

pais2_dropdown = widgets.Dropdown(options=list(OCDE),
                                description='País:',
                                disabled=False)

def generate_plot_confirmados(pais1, pais2):
    pais_x_1 = confirmados.loc[pais1].index
    pais_y_1 = confirmados.loc[pais1].values
    pais_x_1 = pais_x_1[0: len(pais_x_1)-1]
    pais_y_1 = pais_y_1[0: len(pais_y_1)-1]
    pais_x_2 = confirmados.loc[pais2].index
    pais_y_2 = confirmados.loc[pais2].values
    pais_x_2 = pais_x_2[0: len(pais_x_2)-1]
    pais_y_2 = pais_y_2[0: len(pais_y_2)-1]
    fig, ax = plt.subplots(figsize=(12, 8))
    ax.plot(pais_x_1,pais_y_1 ,label = pais1);ax.legend()
    ax.plot(pais_x_2,pais_y_2, label = pais2);ax.legend()
    ax.set(xlabel="Fecha", ylabel="Personas",title="Confirmados")
    
    plt.show()

    
def generate_plot_recuperados(pais1, pais2):
    pais_x_1 = recuperados.loc[pais1].index
    pais_y_1 = recuperados.loc[pais1].values
    pais_x_1 = pais_x_1[0: len(pais_x_1)-1]
    pais_y_1 = pais_y_1[0: len(pais_y_1)-1]
    pais_x_2 = recuperados.loc[pais2].index
    pais_y_2 = recuperados.loc[pais2].values
    pais_x_2 = pais_x_2[0: len(pais_x_2)-1]
    pais_y_2 = pais_y_2[0: len(pais_y_2)-1]
    fig, ax = plt.subplots(figsize=(12, 8))
    ax.plot(pais_x_1,pais_y_1,label = pais1);ax.legend()
    ax.plot(pais_x_2,pais_y_2,label = pais2);ax.legend()
    ax.set(xlabel="Fecha", ylabel="Personas",title="Recuperados")
    
    plt.show()
    
def generate_plot_decesos(pais1, pais2):
    pais_x_1 = decesos.loc[pais1].index
    pais_y_1 = decesos.loc[pais1].values
    pais_x_1 = pais_x_1[0: len(pais_x_1)-1]
    pais_y_1 = pais_y_1[0: len(pais_y_1)-1]
    pais_x_2 = decesos.loc[pais2].index
    pais_y_2 = decesos.loc[pais2].values
    pais_x_2 = pais_x_2[0: len(pais_x_2)-1]
    pais_y_2 = pais_y_2[0: len(pais_y_2)-1]
    fig, ax = plt.subplots(figsize=(12, 8))
    ax.plot(pais_x_1,pais_y_1,label = pais1);ax.legend()
    ax.plot(pais_x_2,pais_y_2,label = pais2);ax.legend()
    ax.set(xlabel="Fecha", ylabel="Personas",title="Decesos")
    plt.show()


def action_1():
    widgets.interact(generate_plot_confirmados, pais1=pais1_dropdown, pais2=pais2_dropdown);

def action_2():
    widgets.interact(generate_plot_recuperados, pais1=pais1_dropdown, pais2=pais2_dropdown);

def action_3():
    widgets.interact(generate_plot_decesos, pais1=pais1_dropdown, pais2=pais2_dropdown);

out1 = widgets.interactive(action_1)
out2 = widgets.interactive(action_2)
out3 = widgets.interactive(action_3)

tab  = widgets.Tab(children = [out1, out2, out3])
tab.set_title(0, 'Confirmados')
tab.set_title(1, 'Recuperados')
tab.set_title(2, 'Decesos')

display(tab)

Tab(children=(interactive(children=(Output(),), _dom_classes=('widget-interact',)), interactive(children=(Outp…

### Dashboard interactivo (1.0pt)

Implemente un *dashboard web* interactivo a partir de la interfaz desarrollada en el punto anterior utilizando la librería [voila](https://github.com/voila-dashboards/voila). Sirva su interfaz en la nube, para esto puede considerar los servicios gratuitos [binder](https://mybinder.org/) o [heroku](https://www.heroku.com/free). Revise la documentación de voila [con respecto a *deployment* en la nube](https://voila.readthedocs.io/en/stable/deploy.html) y este repositorio con [un ejemplo en base a heroku](https://github.com/voila-dashboards/voila-heroku). Entregue el link de su dashboard web